<%= form_for post do |f| %>
  <%= render 'shared/errors', object: post %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %><br>
    <%= f.text_field :remote_image_url %>
    <small>Enter URL to an image</small>
    <%= f.hidden_field :image_cache %>
  </div>

  <% if post.image? %>
    <%= image_tag post.image.thumb.url %>
    <div>
      <%= label_tag :remove_image do %>
        Remove image
        <%= f.check_box :remove_image %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :attachments %>
    <%= f.file_field :attachments, multiple: true %>
  </div>

  <%= f.submit %>
<% end %>